@model IEnumerable<Intex.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Current Work Orders</h2>

<p>
    @Html.ActionLink("Create New Order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount.DiscountAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote.QuoteAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCompleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderFinalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDueDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quote.QuoteAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCompleteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderFinalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDueDate)
            </td>
        </tr>
    }

</table>
