@model Intex.Models.Material

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<div class="section-headlines">
    <h4>Material Details</h4>
</div>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
